{% extends "_includes/default.njk" %}

{% set pageName = "Home" %}

{% block title %}{{pageName}}
{% endblock %}

{% block content %}

  <div class="content">{{pageName}}</div>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan consectetur eleifend. Aliquam erat volutpat. Vestibulum non arcu varius, ullamcorper lorem consectetur, fringilla velit. Etiam ante dolor, sollicitudin eget elit in, rhoncus rutrum erat. Donec quis justo accumsan, porta lacus ac, imperdiet felis.</p>
{% endblock %}